<div class="header">
	<div class="info">
	
		<div class="table">
		   <div class="cell top">
			  <div><strong><%= name %></strong></div>
			  <div class="grey"><%= location %></div>
		   </div>
		   <div class="cell middle num"><div class="sep">&nbsp;</div></div>
		   <div class="cell top">Total SC cost:<br># of shipment:</div>
		   <div class="cell top">
			  <div class="num swl"><%= totalLogisticsCost %></div>
			  <div class="num swl"><%= shipments %></div>
		   </div>
		</div>
	
	</div>
</div>
