<div class="header">
	<div class="info">
	
        <div class="table">
           <div class="cell top">
              <div>Primary Shipments</div>
              <div class="grey"><%= scope %></div>
           </div>
           <div class="cell middle num"><div class="sep">&nbsp;</div></div>
           <div class="cell top">Total SC cost:<br># of shipment:</div>
           <div class="cell top">
              <div class="num"><%= cost %></div>
              <div class="num"><%= shipments %></div>
           </div>
        </div>
	
	</div>
</div>
