<div class="header">
	<div class="info">
	
		<div class="table">
		   <div class="cell top">
			  <div><strong><%= label %></strong></div>
			  <div class="grey"><%= location %></div>
		   </div>
		   <div class="cell middle num"><div class="sep">&nbsp;</div></div>
		   <div class="cell top">Total SC cost:<br># of shipment:</div>
		   <div class="cell top">
			  <div class="swl num"><%= totalCost %></div>
			  <div class="swl num"><%= outShipments %></div>
		   </div>
		</div>	
	
	</div>
</div>
