<div class="ib">
	<div class="ib_frame">
<!--    
    	<div class="stem left top" style="position: absolute; z-index: 10; width: 29px; height: 19px; left: -25px; top: 5px; right: auto; bottom: auto;">
        	<svg height="25" version="1.1" width="35" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <filter id="FA149E8F-45E9-416A-A82F-E07616E0416B" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <feGaussianBlur stdDeviation="1.2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></feGaussianBlur>
                    </filter>
                    <filter id="58670AD0-F5F6-4D79-BD8C-D5165592688F" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <feGaussianBlur stdDeviation="1.2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></feGaussianBlur>
                    </filter>
                </defs>
                <path fill="#5c6278" stroke="none" d="M31,2L1,2L26,15L31,15" transform="matrix(1,0,0,1,-0.5,-0.5)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <path fill="none" stroke="#000000" d="M26,3L4,3" stroke-width="1" stroke-opacity="0.6" filter="url(#FA149E8F-45E9-416A-A82F-E07616E0416B)" transform="matrix(1,0,0,1,-0.5,-0.5)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.6;"></path>
                <path fill="none" stroke="#000000" d="M1,3L24,15" stroke-width="1" stroke-opacity="0.3" filter="url(#58670AD0-F5F6-4D79-BD8C-D5165592688F)" transform="matrix(1,0,0,1,-0.5,-0.5)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.3;"></path>
                <path fill="none" stroke="#ffffff" d="M26,0L26,2L1,2L26,15L26,19" stroke-width="1" transform="matrix(1,0,0,1,-0.5,-0.5)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            </svg>
        </div>
-->    
    
    
    
    	<div class="ib_header">
        	<div class="content"><%= name %></div>
        </div>
    	<div class="ib_body">
        	<div class="content"><br><br><br><br><br><br><br><br><br><br></div>
        </div>
        <div class="ib_close"></div>
    </div>
</div>



