<div class="body">
	<div class="info">
	
		<div class="table">
			<div class="row">
				<div class="cell"><strong>Capacity (pallet spaces)</strong></div>
				<div class="cell num swl"><strong><a href="#">%capacity%</a></strong></div>
			</div>
		</div>
		<div class="table">   
			<div class="caption">Flow (shipment)</div>
			<div class="row">
				<div class="cell">Inbound</div>
				<div class="cell num swl"><a href="#">%inShipments%</a></div>
				<div class="cell nwl"><div class="icon-to-2 link">&nbsp;</div></div>
			</div>
			<div class="row">
				<div class="cell">Outbound</div>
				<div class="cell num swl"><a href="#">%outShipments%</a></div>
				<div class="cell nwl"><div class="icon-to-2 link">&nbsp;</div></div>
			</div>
		</div>
		<div class="hr"></div>
		<div class="table">   
			<div class="caption">KPI's:</div>
			<div class="row">
				<div class="cell">OTIF</div>
				<div class="cell num swl"><a href="#">98%</a></div>
				<div class="cell nwl"><div class="icon-to-2 link">&nbsp;</div></div>
			</div>
			<div class="row">
				<div class="cell">Cost per pallet</div>
				<div class="cell num swl"><a href="#">%perPalletCost%</a></div>
				<div class="cell nwl"><div class="icon-to-2 link">&nbsp;</div></div>
			</div>
			<div class="row">
				<div class="cell">Cost per shipment</div>
				<div class="cell num swl"><a href="#">%perShipmentCost%</a></div>
				<div class="cell nwl"><div class="icon-to-2 link">&nbsp;</div></div>
			</div>
			<div class="row">
				<div class="cell">Labor per shipment</div>
				<div class="cell num swl"><a href="#">%labourCost%</a></div>
				<div class="cell nwl" lref='{"viewId":"fr7"}'><div class="icon-to-2 link">&nbsp;</div></div>
			</div>
		</div>
	
	</div>
</div>



